name: Azure Python 3.12.11
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.11
    - name: Install Dependencies
      run: |
        make install
    - name: Lint
      run: |
        make lint
    - name: Test
      run: |
        make test